<!DOCTYPE html>
<html>
<head>
<div th:replace="/header.html :: fragment-header"></div>

<script>
/*<![CDATA[*/
   window.onload= function Status() {
		const deleteStatus = "[[${deleteStatus}]]";
		const updateStatus = "[[${updateStatus}]]";
		if(deleteStatus == "false"){
			alert("비밀번호 오류")
		}
		else if(updateStatus=="true"){
			alert("수정 완료")
		}
        
    }
/*]]>*/

	function managerDeletePost(num){
		if (window.confirm("정말 삭제하시겠습니까?")) {
			window.location.href='/post/managerDelete/'+num;
      	} 
		else {	
      	}
	  
	}
	
	function managerDeleteComment(num,num2){
		if (window.confirm("정말 삭제하시겠습니까?")) {
			window.location.href='/comment/managerDelete/'+num+'?postId='+num2;
      	}
		else {
      	}
	}	
	
	function managerDeletereReComment(num,num2){
		
		if (window.confirm("정말 삭제하시겠습니까?")) {
			window.location.href='/reComment/managerDelete/'+num+'?postId='+num2;
      	}
		else {
      	}
	}
	function managerResotrePost(num){
		if(window.confirm("게시글을 복구하시겠습니까?")){
			window.location.href='/post/managerResotre/'+num;
		}	
	}



	function showPostDelete(num){
		const target = document.getElementById('deletePo'+num);
		const other = document.getElementsByClassName("showAndNone");
		
		for(var i=0; i<other.length; i++){
			if(target != other[i]){
				other[i].style.display= 'none'; 
			} 
		}
		
		
		
		if(target.style.display !== 'none') {
			target.style.display = 'none';
	  	}
	  	else {
	  		target.style.display = 'block';
	  	}
	  
	}

	function showDelete(num){
		const target = document.getElementById('delete'+num);
		
		const other = document.getElementsByClassName("showAndNone");
		
		for(var i=0; i<other.length; i++){
			if(target != other[i]){
				other[i].style.display= 'none'; 
			} 
		}
		
		
		if(target.style.display !== 'none') {
			target.style.display = 'none';
	  	}
	  	else {
	  		target.style.display = 'block';
	  	}
	  
	}
	function showreComment(num){
		const target = document.getElementById('reComment'+num);
		
		const other = document.getElementsByClassName("showAndNone");
		
		for(var i=0; i<other.length; i++){
			if(target != other[i]){
				other[i].style.display= 'none'; 
			} 
		}
		
		
	  	if(target.style.display !== 'none') {
	  		target.style.display = 'none';
	  	}
	  	else {
	  		target.style.display = 'block';
	  	}
	  
	}
	function showDeleteRe(num){
		const target = document.getElementById('deleteRe'+num);
		
		const other = document.getElementsByClassName("showAndNone");
		
		for(var i=0; i<other.length; i++){
			if(target != other[i]){
				other[i].style.display= 'none'; 
			} 
		}
		
		
	  	if(target.style.display !== 'none') {
	  		target.style.display = 'none';
	  	}
	  	else {
	  		target.style.display = 'block';
	  	}
	}

</script>
<style type="text/css">
 html,body{width:1250px;height:1000px; padding:0px; margin:0px}
 td {height:15px;border:1px solid black;} 
 th {text-align : center; border:1px solid black;}
 #tag{
 	margin:0px;
 	height:50px;
 	min-width: 100px;
 	
 }
 
</style>
</head>
<body bgcolor="blue">
<div th:replace="/header.html :: fragment-login"></div>




<div style="width:250px;height:800px; text-align : center; float: left; vertical-align: middle;">

<div style="width:100%;height:60%; text-align : center; padding:5%;    position: relative;
    top: 20%;">
<p  id = "tag"><a href="/">전체</a></p>    
<p  id = "tag"><a href="/?type=공지&page=0">공지사항</a></p>
<p  id = "tag"><a href="/?type=자유&page=0">자유게시판</a></p>
<p  id = "tag"><a href="/?type=질문&page=0">질문게시판</a></p>
<p  id = "tag"><a href="/?type=고발&page=0">고발게시판</a></p>
<p  id = "tag"><a href="/?type=칭찬&page=0">칭찬게시판</a></p>
</div>

</div>

<div style="width:800px;height:800px; text-align : center; padding-left: 2%; float: left;  position: relative;  vertical-align: middle; ">

<div style="width:800px; text-align : center; display: inline-block;" >
<div style="width:800px; display:flex; justify-content: center ">
<button class="btn btn-dark" th:if="${post.type!='공지'||(manager!= null && manager.role == 'manager')}" style = "margin-left:10px; margin-bottom:10px; float : middle; display: flex; align-items:center; justify-content: center; text-align : center; width:100px; height:30px" th:onclick="location.href='/post/update/[[${post.id}]]'">게시글수정</button>
<button class="btn btn-dark" th:if="${post.type!='공지'||(manager!= null && manager.role == 'manager')}" style = "margin-left:10px; margin-bottom:10px; float : middle; display: flex; align-items:center; justify-content: center; text-align : center; width:100px; height:30px" th:onclick="'showPostDelete('+${post.id}+')'">게시글삭제</button>
<button class="btn btn-danger" th:if="${manager!= null && manager.role == 'manager' && post.deleteFlag !='checked'}" style = "margin-left:10px; margin-bottom:10px; float: left; float : middle; display: flex; align-items:center; justify-content: center; text-align : center; width:100px; height:30px"  th:onclick="'managerDeletePost('+${post.id}+')'">관리자삭제</button>
<button class="btn btn-success" th:if="${manager!= null && manager.role == 'manager' && post.deleteFlag =='checked'}" style = "margin-left:10px; margin-bottom:10px; float: left; float : middle; display: flex; align-items:center; justify-content: center;text-align : center; width:100px; height:30px"  th:onclick="'managerResotrePost('+${post.id}+')'">게시글복구</button>
</div>
<p style="margin-top:5px;margin-bottom:5px;text-align : left;"><b>제목</b></p>
<h4 style="border:2px solid black; padding:5px; padding-top:7px; " th:text=${post.title}></h4>
</div>


<form  class = "showAndNone" th:id="'deletePo'+${post.id}" style="display:none; margin-bottom:10px; "  enctype="multipart/form-data" th:action="@{|/post/delete/${post.id}|}" method="get">
	  <input  style="width: 10%; bottom:30px; " id=password type="password" name="password" required/>
	  <button type="submit"> 삭제 </button>
</form>

<p style="margin-top:5px;margin-bottom:5px;text-align : left;"><b>내용</b></p>

<div style="width:800px; border:2px solid black; padding:5px;">

<div  th:each="image : ${post.imageUrls}" th:if="${image.deleteFlag!='checked'}" style="display: inline-block;">
    <img th:if="${image.deleteFlag!='checked'}"style="margin:10px; max-width: 80%; height: auto;"  th:src="@{|${image.imageUrl}|}"/>
</div>

<p align="left" style="margin:3px; word-wrap: break-word; "th:utext="${#strings.replace(post.content,'<br>', '&lt;br /&gt;')}"></p>

</div>

<div style="text-align : center; display: inline-block; height:80px; width: 1000px;" >
<p style="margin-top:5px;margin-bottom:5px;text-align : left;"><b>댓글</b></p>
<div id = "comment" th:each=" comment : ${post.comments}" th:if="${comment.deleteFlag!='checked'}">
	
	<div style = "word-wrap: break-word; margin-bottom:4px; float: left; border:2px solid black; width:800px" th:text=${comment.content}></div>
	
	<button class="btn btn-primary" style = " margin-left:3px; float: left; text-align : center; width:15px; height:25px; display: flex; align-items:center; justify-content: center;" th:onclick="'showreComment('+${comment.id}+')'">+</button>
	<button class="btn btn-primary" style = " margin-left:3px; float: left; text-align : center; width:15px; height:25px; display: flex; align-items:center; justify-content: center;" th:onclick="'showDelete('+${comment.id}+')'">x</button>
	<button class="btn btn-danger" th:if="${manager!= null && manager.role == 'manager'}" style = "margin-left:3px; float: left; text-align : center; width:15px; height:25px; display: flex; align-items:center; justify-content: center; " th:onclick="'managerDeleteComment('+${comment.id}+','+${post.id}+')'">[x]</button>

	<form  class="showAndNone" th:id="'delete'+${comment.id}" style="display:none; float: left; margin:3px; width:800px;"  enctype="multipart/form-data" th:action="@{|/comment/delete/${comment.id}|}" method="get">
	  <laber th:for="'deleteCommentPasswordInput'+${comment.id}"><b>비밀번호</b></laber>
	  <input th:id="'deleteCommentPasswordInput'+${comment.id}" style="width: 100px; bottom:30px; " id=password type="password" name="password" required/>
	  <input style="display:none;" name="postId" th:value = "${post.id}"/>
	  <button type="submit"> 삭제 </button>
	</form>

	
	<form class = "showAndNone" th:id="'reComment'+${comment.id}" style="display:none; text-align : left;"  enctype="multipart/form-data" th:action="@{|/reComment/${comment.id}|}" method="post">
      <input style="width: 800px; margin-top:3px;  margin-bottom:3px; height: 26px;resize: none;" type = "text" name="content" id="ucontent" placeholder="답글" autocomplete="off" required>
      <input style="width: 70px; bottom:30px; " id=password type="password" name="password" autocomplete="new-password" required/>
	  <input style="display:none;" name="postId" th:value = "${post.id}"/>
	  <button type="submit"> 답글달기 </button>
	</form>
	
	<div th:each=" reComment : ${comment.reComments}"  th:if="${reComment.deleteFlag!='checked'}" style="display:inline-block; float: left;">
	 <div style="width:23px;height:23px; margin-top:3px; margin-left:2px; background-image: url(../img/arrow.png);  background-size : contain; float: left; display: inline-block;" ></div>
	 <div style = "word-wrap: break-word; margin-top:3px; margin-bottom:3px; margin-left:5px; border:2px solid brown; float: left; width:770px" th:text="${reComment.content}"></div>
	 <button class="btn btn-primary" style = "margin-left:3px; float: left; text-align : center; width:15px; height:25px; display: flex; align-items:center; justify-content: center;" th:onclick="'showDeleteRe('+${reComment.id}+')'">x</button>
	 <button class="btn btn-danger" th:if="${manager!= null && manager.role == 'manager'}" style = "margin-left:3px; float: left; text-align : center; width:15px; height:25px; display: flex; align-items:center; justify-content: center;" th:onclick="'managerDeletereReComment('+${reComment.id}+','+${post.id}+')'">[x]</button>
	 <form class = "showAndNone" th:id="'deleteRe'+${reComment.id}" style="display:none; float: left; margin:3px; width:800px;"  enctype="multipart/form-data" th:action="@{|/reComment/delete/${reComment.id}|}" method="get">
	  <laber th:for="'deleteReCommentPasswordInput'+${comment.id}"><b>비밀번호</b></laber>
	  <input th:id="'deleteReCommentPasswordInput'+${comment.id}" style="width: 10%; bottom:30px; " id=password type="password" name="password"  required/>
	  <input style="display:none;" name="postId" th:value = "${post.id}"/>
	  <button type="submit"> 삭제 </button>
	 </form>
	</div>
	
</div>

<form enctype="multipart/form-data" th:action="@{|/comment/${post.id}|}" method="post">

                    <div style="text-align : left; display: inline-block; height:60px; width: 100%" >
                        <input style="width: 800px; margin-top:10px; height: 26px;resize: none;" type = "text" name="content" id="ucontent" placeholder="댓글" autocomplete="off" required>
                        <input style="width: 70px; bottom:30px; " id=password type="password" name="password" autocomplete="new-password" required/>
                        <button type="submit"> 댓글작성 </button>
                    </div>
</form>


</div>
</div>




</body>
</html>